<!--<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Resume Creator || Home Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>


<body>
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <a  href="/home"> <img src="img/logo1.png" width="130px"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/resume">Create Resume</a> </li>
                    <li><a href="/logout">Logout</a> </li>
                </ul>
            </nav>
        </div>
    </div>

    <!--<div class="small-container">
        <div class="row row-2">
            <h2>ALL SAMPLES</h2>
            <!-- <select>
                <option>Default Shorting</option>
                <option>Short by Popularity</option>
                <option>Short by Download</option>
            </select> -->
        <!--</div>


        <div class="row">
            <div class="col-4">
                <img src="img/sample1.PNG">
                <h4>Sample 1</h4>
                <p><a class="btn btn-primary btn-learn" href="img/sample1.pdf" download="download">Download Sample <i
                            class="icon-download4"></i></a></p>
            </div>
            <div class="col-4">
                <img src="img/sample2.PNG">
                <h4>Sample 2</h4>
                <p><a class="btn btn-primary btn-learn" href="img/sample2.doc" download="download">Download Sample <i
                            class="icon-download4"></i></a></p>
            </div>
            <div class="col-4">
                <img src="img/sample3.PNG">
                <h4>Sample 3</h4>
                <p><a class="btn btn-primary btn-learn" href="img/sample3.docx" download="download">Download Sample <i
                            class="icon-download4"></i></a></p>
            </div>
            <div class="col-4">
                <img src="img/sample4.PNG">
                <h4>Sample 4</h4>
                <p><a class="btn btn-primary btn-learn" href="img/sample4.docx" download="download">Download Sample <i
                            class="icon-download4"></i></a></p>
            </div>
            <div class="col-4">
                <img src="img/sample5.PNG">
                <h4>Sample 5</h4>
                <p><a class="btn btn-primary btn-learn" href="img/sample5.docx" download="download">Download Sample <i
                            class="icon-download4"></i></a></p>
            </div>
            <div class="col-4">
                <img src="img/sample6.PNG">
                <h4>Sample 6</h4>
                <p><a class="btn btn-primary btn-learn" href="img/sample6.docx" download="download">Download Sample <i
                            class="icon-download4"></i></a></p>
            </div>
            <div class="col-4">
                <img src="img/sample7.PNG">
                <h4>Sample 7</h4>
                <p><a class="btn btn-primary btn-learn" href="img/sample7.docx" download="download">Download Sample <i
                            class="icon-download4"></i></a></p>
            </div>


        </div>-->
    <!--</div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Dowload Our App</h3>
                    <p>Download App for Android and ios Mobile Phone.</p>
                    <div class="app-logo">
                        <img src="img/play-store.png">
                        <img src="img/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="img/logorca.PNG" width="80" height="80">
                    <p>Our Purpose Is To Make This Site More Popular Than Amazone, Flipkart etc..</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupns</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affilicate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Folow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">@Copyright 2050</p>
        </div>
    </div>-->
<!--</body>

</html>-->
<!--<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<title>Resume Creator</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">-->
<!--</head>-->
<!--

<body>
    <div class="container">

        <div class="navbar">
            <div class="logo">
               <!-- <a href="/"> <img src="img/logo1.png" width="130px"></a>-->
            <!--</div>
            <nav>
                <ul>
                    {{!-- <li><a href="/resume-sample">Resume Sample</a> </li> --}}
                    <li><a href="/login">Login</a> </li>
                    <li><a href="/register">Register</a> </li>
                    <li><a href="/about">About Us</a> </li>
                </ul>
            </nav>
        </div>
    </div>

  



</body>

</html>-->




<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- <link rel="stylesheet" href="./resources/css/style.css" /> --}}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <div class="logo">
      <img src="./resources/img/iconcov.png" alt="" />          
        <p>COVID-19<br />STATS</p>
      </div>

      <nav>
        <ul>

          <li><a href="/logout">Logout</a> </li>
          <!--<li><a href="http://localhost:8020/">TAB VIEW</a></li>-->
        </ul>
      </nav>
    </header>
    <div id="quote">
      <h1><i class="fa fa-quote-left" aria-hidden="true" style="float:left;"></i> </h1>
      <h3>Few things in the world are more powerful than a positive push. <br></h3>
       <h3> A smile. A world of optimism and hope. You can do it when things are tough. <br>
        <br> Delete the negative; accentuate the positive.<br>
        <span style="color:#20B2AA;font-size:30px;">We stand with everyone fighting on the frontlines<span><h3>
        
    </div>
    <main>
      <div class="stats">
        <div class="latest-report">
          <div class="country">
            <div class="name">Loading...</div>
            <div class="change-country">change</div>
            <div class="search-country hide">
              <div class="search-box">
                <input
                  type="text"
                  id="search-input"
                  placeholder="Search Country..."
                />
                <img class="close" src="./resources/img/close.svg" alt="" />
              </div>
              <div class="country-list"></div>
            </div>
          </div>
          <div class="total-cases">
            <div class="title">Total Cases</div>
            <div class="value">0</div>
            <div class="new-value">+0</div>
          </div>
          <div class="recovered">
            <div class="title">Recovered</div>
            <div class="value">0</div>
            <div class="new-value">+0</div>
          </div>
          <div class="deaths">
            <div class="title">Deaths</div>
            <div class="value">0</div>
            <div class="new-value">+0</div>
          </div>
        </div>
        <div class="chart">
          <canvas id="axes_line_chart"></canvas>
        </div>
      </div>
    </main>

     <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
        <ul>
         <h4>COVID19</h4>
         <li><a href="#">We stand with everyone fighting on the frontlines</a></li>
        </ul>
      </div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>


    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
      crossorigin="anonymous"
    ></script>
    <script
      language="JavaScript"
      src="http://www.geoplugin.net/javascript.gp"
      type="text/javascript"
    ></script>
    <script src="./resources/js/countries.js"></script>
    <script src="./resources/js/app.js"></script>
  </body>
</html>
